{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    Enter a new password
{% endblock title %}

{% block content %}
    
    {% if validlink %}
        <h1>Set your new password here</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-success" type="submit" value="Change my password">
        </form>
    {% else %}
    <h1>Invalid Link</h1>
    <p>The password reset link you are trying to access
        has expired. Click on <a href="{% url 'password_reset' %}">Forgot your password?</a> to send a new link. 
    </p>
    {% endif %}
        
{% endblock content %}