{% load static %}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Tweeter{% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    </head>
    <body>
        
        <div class="container">
            <header class="p-2 m-2 border rounded" style="background-color: #00c6f8;">
                
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="button" class="btn rounded-pill bg-light btn-lg ml-2">
                        <a class="text-decoration-none link-dark" href="{% url 'home' %}">
                        <i class="bi bi-chat-quote"> </i>
                        Tweeter
                </a></button>
                  </div>
                
                
                    
                
            
            </header>
            {% url 'home' as home %}
            {% url 'testing' as testing %}
            {% url 'twit_new' as twit_new %}
            {% url 'user_profile' customuser.pk as custom_user_profile %}
            {% url 'user_profile' user.pk as user_profile %}
        <main>{% if user.is_authenticated %}
            <div class="container text-start">
            <div class="row align-items-start">
                
                
                    
                <div class="col">
                    {% block content %}
                    {% endblock content %}
                </div>
                
                <div class="col-3 sticky-top">
                    
                    <div class="card">
                        <div class="card-body">
                            <!-- <button class="btn btn-light border border-2 border-info ml-2"></button> -->
                            
                            <div class="d-grid gap-2 mx-auto">
                                
                            
                                <button type="button" class="{% if request.get_full_path == home %}btn btn-info ml-2{% else %}btn btn-outline-info ml-2{% endif %}"><a href="{{ home }}" style="--bs-icon-link-transform: translate3d(-.50rem, 0, 0);" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover icon-link icon-link-hover text-decoration-none"><i class="bi bi-house mb-2"> </i>Home</button></a>
                                <button class="{% if request.get_full_path == twit_new %}btn btn-info ml-2{% else %}btn btn-outline-info ml-2{% endif %}"><a href="{{ twit_new }}" style="--bs-icon-link-transform: translate3d(-.50rem, 0, 0);" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover icon-link icon-link-hover text-decoration-none"><i class="bi bi-chat-quote mb-2"> </i> New Twit</button></a>
                                <button class="{% if request.get_full_path == testing %}btn btn-info ml-2{% else %}btn btn-outline-info ml-2{% endif %}"><a href="{{ testing }}" style="--bs-icon-link-transform: translate3d(-.50rem, 0, 0);" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover icon-link icon-link-hover text-decoration-none"><i class="bi bi-textarea-t mb-2"></i>Testing Page</button></a>                         
                                <button class="{% if request.get_full_path == user_profile %}btn btn-info ml-2{% else %}btn btn-outline-info ml-2{% endif %}"><a href="{{ user_profile }}" style="--bs-icon-link-transform: translate3d(-.50rem, 0, 0);" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover icon-link icon-link-hover text-decoration-none" ><i class="bi bi-person mb-2"></i> Your Profile</button></a>
                                <button id="btn-back-to-top" class="btn btn-outline-info ml-2"><a href="#" style="--bs-icon-link-transform: translate3d(-.50rem, 0, 0);" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover icon-link icon-link-hover text-decoration-none"><i class="bi bi-arrow-up-circle mb-2"></i> <span class="">Back to top</span></button></a>
                                
                                    
                                    <button 
                                        id ="dropdownUser1"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false" 
                                        class="btn btn-outline-info "
                                    ><span class="nav-link px-2 link-dark icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(.50rem, 0, 0);">{{ user.username }} <i class="bi bi-caret-down-square mb-1"></i></span></button>
                                    
                                    <ul class="dropdown-menu border border-black" aria-labelledby="dropdownUser1">
                                        {% if user.is_staff %}
                                        <li class="border-bottom border-black"><a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a></li>
                                        {% endif %}
                                        <li class="border-bottom border-black"><a class="dropdown-item" href="{% url 'user_profile' user.pk %}">Your Profile</a></li>
                                        <li class="border-bottom border-black"><a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a></li>
                                        <li class=""><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>                                
                                    </ul>
                                
                                    
                                
                              
                            </div>
                        </div>
                    </div>
                    {% if request.get_full_path == custom_user_profile %}
                    
                    {% block user_profile_column %}
                    {% endblock user_profile_column %}
                
                {% endif %}
                </div>
                
            </div>
            </div>
                    {% else %}  
                        {% block login %}                           
                        {% endblock login %}
                    {% endif %}
        </main>
    </div>
    
        
        <!-- jQuery JS Bundle-->
        <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
        
        <!-- Bootstrap JS Bundle -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        <script src="{% static 'js/base.js' %}"></script>
    </body>
</html>