{% load static %}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Tweeter{% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    </head>
    <body>
        
        <div class="container">
            <header class="p-2 mb-1">
                <nav class="navbar border rounded" style="background-color: #00c6f8;">
                <div class="container">
                    <a class="align-middle" href="{% url 'home' %}"><button class="btn rounded-pill bg-light btn-lg ml-2"><i class="bi bi-chat-quote"> </i>Tweeter</button></a>
                </div>
                
            </nav>
            </header>
        
        <main>{% if user.is_authenticated %}
            <div class="container text-start">
            <div class="row align-items-start sticky-top">
                <div class="col">
                    {% block content %}
                    {% endblock content %}
                </div>
                
                <div class="col-3 sticky-top">
                    <div class="card">
                        <div class="card-body">
                            <ul class="nav flex-column">
                                <li><a href="{% url 'home' %}" class="nav-link px-2 link-dark"><button class="btn btn-secondary ml-2"><i class="bi bi-house"> </i>Home</button></a></li>
                                <li><a href="{% url 'twit_new' %}" class="nav-link px-2 link-dark"><button class="btn btn-secondary ml-2">+ New Twit</button></a></li>
                                <li><a href="{% url 'testing' %}" class="nav-link px-2 link-dark"><button class="btn btn-secondary ml-2">Testing Page</button></a></li>                         
                                <li><a class="nav-link px-2 link-dark" href="{% url 'user_profile' user.pk %}"><button class="btn btn-secondary ml-2">Your Profile</button></a></li>
                                <li><a href="#" class="nav-link px-2 link-dark"><button id="btn-back-to-top" class="btn btn-secondary ml-2">Back to top</button></a></li>
                                <li>
                                    <a 
                                        href="#" 
                                        class="nav-link px-2 link-dark"
                                        id ="dropdownUser1"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false"
                                    >
                                    <button class="btn btn-secondary ml-2">{{ user.username }} <i class="bi bi-caret-down-square"></i></button>
                                    </a>
                                    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                                        {% if user.is_staff %}
                                        <li><a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a></li>
                                        {% endif %}
                                        <li><a class="dropdown-item" href="{% url 'user_profile' user.pk %}">Your Profile</a></li>
                                        <li><a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a></li>
                                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>                                
                                    </ul>
                                </li>
                                    
                                
                              </ul>
                        </div>
                    </div>
                </div>
            </div>
            </div>
                    {% else %}  
                        {% block login %}                           
                        {% endblock login %}
                    {% endif %}
        </main>
    </div>
    
        
        <!-- jQuery JS Bundle-->
        <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
        
        <!-- Bootstrap JS Bundle -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        <script src="{% static 'js/base.js' %}"></script>
    </body>
</html>