{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load helper_tags %}

{% block title %}
    Comment - Edit
{% endblock title %}



{% block content %}
<div class="col">
    <div class="text rounded-pill bg-info p-2">
        <div class="row">
            <div class="col">
                
                    <a href="{% url "user_profile" comment.twit.author.pk %}"><img src="{% get_avatar_url email=comment.twit.author.email size=50 %}" class="rounded-circle" alt="user image"></a>
                    <a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url "user_profile" comment.twit.author.pk %}"><span class="fs-4 fw-bold">{{ comment.twit.author }}</span></a>
                        <span >| {{ comment.twit.created|timesince }} ago</span>

                        {% if comment.twit.updated != comment.twit.created %}
                                    <span class="fst-italic text-muted"> | Edited: {{ comment.twit.updated|timesince }} ago</span>
                                    {% endif %}
                </div>
            
            <div class="col-3">      
                {% if comment.twit.author == user %}
                <!--  px-2 py-2 -->
                <div class="text-end position-relative top-50 start-50 translate-middle">
                    
                        <div class="dropstart">
                            <button 
                                id ="dropdownUser1"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                                type="button"
                                class="btn rounded-pill btn-light"
                                style="--bs-btn-padding-y: 0; --bs-btn-padding-x: -.50rem; --bs-btn-font-size: 1rem; --bs-btn-bg: #fffdfd69; --bs-btn-border-color: #00000000;"
                            > 
                                    <i class="bi bi-three-dots"></i>
                            </button>
                            <!-- dropdown-menu-start -->
                        <ul 
                            class="dropdown-menu p-0"     
                            aria-labelledby="dropdownUser1"
                            style="--bs-dropdown-bg: #fffdfd69; --bs-dropdown-border-color: #ffffffc5; --bs-dropdown-border-radius: 1rem;"
                            >
                            <!-- style="--bs-dropdown-bg: #00000000; --bs-dropdown-border-color: #00000000; --bs-dropdown-padding-y: 0rem;" -->
                                <!-- <div class="d-grid gap-2 mx-auto"> -->
                                    <span class=""><a style="--bs-icon-link-transform: translate3d(0, -.15rem, 0);" class="badge rounded-pill btn-sm bg-primary m-1 nav-link px-2 link-light icon-link icon-link-hover" href="{% url "twit_edit" comment.twit.pk %}"><i class="bi bi-pencil"></i> Edit</span></a>
                                    <span class="m-1"><a style="--bs-icon-link-transform: translate3d(0, -.15rem, 0);" class="badge rounded-pill btn-sm bg-danger m-1 nav-link px-2 link-light icon-link icon-link-hover" href="{% url "twit_delete" comment.twit.pk %}"><i class="bi bi-trash"></i> Delete</span></a>
        
                                <!-- </div> -->
                                
                        </ul>
                        </div>
                    
                </div>
                
                   
                {% endif %}
                </div>
            </div>
</div>
        
                <br>
                
                    <p style="white-space: pre-line">{{ comment.twit.body }}</p>
                    
            {% if comment.twit.image_url|length > 1 %}
                <div class="w-50">
                    <img src="{{ comment.twit.image_url }}" class="img-fluid" alt="">
                </div>
            {% endif %}
                
            <p>
                {% with user_likes=comment.twit.likes.all %}
                    <button
                    data-id="{{ comment.twit.id }}"
                    data-action="{% if user in user_likes %}un{% endif %}like"
                    data-like-url="{{ comment.twit.get_like_url }}"
                    class="like_button btn btn-{% if user not in user_likes %}outline-{% endif %}primary"
                    >
                        <i class="like_icon bi-hand-thumbs-up{% if user in user_likes %}-fill{% endif %}"></i>
                        <span class="like_count">{{ user_likes|length }}</span>
                        Likes
                    </button>
                {% endwith %}
            </p> 

</div>
<hr>
<h4>Editing Comment</h4>
   
            <div class="card w-75">
            <div class="card-body">
                <div class="overflow-auto bg-light"
                style="max-height: 400px;">
                    
                    <p>
                        <a href="{% url "user_profile" comment.author.pk %}"><img src="{% get_avatar_url email=comment.author.email size=25 %}" class="rounded-circle" alt="user image"></a>
                        <span class="fw-semibold"><a href="{% url "user_profile" comment.author.pk %}">{{ comment.author }}</a> &middot; </span> 
                         
                        {{ comment.created|timesince }} ago{% if comment.updated != comment.created %}
                        <span class="fst-italic">Updated {{ comment.updated|timesince }} ago</span>
                    {% endif %}
                        
                        
                    </p>
                    <p style="white-space: pre-line">{{ comment.body }}</p>
                    <hr>
                    
                </div>
    
            </div>
            <div class="card-body">
                
<form action="" method="POST">
    {% csrf_token %}
    {{ form.body|as_crispy_field }}
    <span id="rchars">140</span> Character(s) Remaining</span>
    <button class="btn btn-info ms-3" type="submit">Update</button>
    <a href="{% url 'twit_detail' comment.twit.pk %}" id="cancel" name="cancel" class="btn btn-danger ml-2">Cancel</a>
</form>
            </div>
        
</div>
<br>
{% endblock content %}