{% extends 'base.html' %}
{% load static %}
{% load maths %}
{% load helper_tags %}
{% block title %}Tweeter{% endblock title %}


{% block content %}
    {% if user.is_authenticated %}
        
        <p>Hi {{ user.username }}! You joined on {{ user.date_joined }}</p>
        <img src="{% static 'images/evil_coffee_time.jpg' %}" alt="Image should be here...">
        <hr>
        <h2>Twit Feed:</h2>
        {% for twit in twit_list|dictsortreversed:"created" %}
        <div class="container-fluid">
            
            <div class="text rounded-pill bg-info w-50 p-2">         
                
                <a href="{% url "user_profile" twit.author.pk %}"><img src="{% get_avatar_url email=twit.author.email size=50 %}" class="rounded-circle" alt="user image"></a>     
                <a class="text-muted" href="{% url "user_profile" twit.author.pk %}"><span class="fs-4 fw-bold">{{ twit.author }}</span></a>
                <span class="text-muted"> | {{ twit.created|timesince }} ago</span>
                {% if twit.author == user %}
                    | <a href="{% url "twit_edit" twit.pk %}"><span class="badge rounded-pill bg-primary"><i class="bi bi-pencil"></i> Edit</span></a>
                    <a href="{% url "twit_delete" twit.pk %}"><span class="badge rounded-pill bg-danger"><i class="bi bi-trash"></i> Delete</span></a>
                {% endif %}
            </div>
            <br>
            <div>
                
                <p style="white-space: pre-line">{{ twit.body }}</p> {# This isn't supposed to be here, e.g., it's not what the book does. The style tag was for my own sanity #}
                
                {% if twit.image_url|length > 1 %}
                <div class="w-50">
                    <p><a href="{% url 'twit_detail' twit.pk %}"><img src="{{ twit.image_url }}" class="img-fluid" alt=""></a></p>
                </div>
                
                {% endif %}
                <p>
                    {% with user_likes=twit.likes.all %}
                        <button
                        data-id="{{ twit.id }}"
                        data-action="{% if user in user_likes %}un{% endif %}like"
                        data-like-url="{{ twit.get_like_url }}"
                        class="like_button btn btn-{% if user not in user_likes %}outline-{% endif %}primary"
                        >
                            <i class="like_icon bi-hand-thumbs-up{% if user in user_likes %}-fill{% endif %}"></i>
                            <span class="like_count">{{ user_likes|length }}</span>
                            Likes
                        </button>
                    {% endwith %}
                </p>
                
            </div>
            
            
                
            {% if twit.comments.count >= 1 %}
            <p><a href="{% url 'twit_detail' twit.pk %}" class="btn btn-success btn-sm ml-2"><i class="bi bi-chat"></i> Comment</a></p>
            {{ twit.comments.count }} comments
            <div class="card w-50">
            <div class="card-body">
                {% for comment in twit.comments.all|slice:3 %} {# Appended '_set' allows you to do queries on the object. Then .all is a query method you can append to get all objects. #}
                    
                    <p>
                        <a href="{% url "user_profile" comment.author.pk %}"><img src="{% get_avatar_url email=comment.author.email size=25 %}" class="rounded-circle" alt="user image"></a>
                        <span class="fw-semibold"><a href="{% url "user_profile" comment.author.pk %}">{{ comment.author }}</a> &middot; </span>
                         
                        {{ comment.created|timesince }}
                    </p>
                    <p>{{ comment.body }}</p>
                    <hr>
                    
                {% endfor %}
                
            </div>
            
            {% if twit.comments.count > 3 %}
                <a href="{% url 'twit_detail' twit.pk %}"><div class="card-footer">{{ twit.comments.count|subtract:"3" }} more comments</div></a>
            {% endif %}
                
            
            
            {% else %}
            
            <p><a href="{% url 'twit_detail' twit.pk %}" class="btn btn-success btn-sm ml-2"><i class="bi bi-chat"></i> Comment</a></p>
            <p class="fst-italic">No comments yet</p>
            
            {% endif %}
            
        </div>
        
        
        <hr>
    {% endfor %}
    {% else %}
        <p>You are not logged in</p>    
        <a href="{% url 'login' %}">Login</a> |
        <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}    
{% endblock content %}

