{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load helper_tags %}
{% load maths %}
{% block title %}
    Testing Page
{% endblock title %}



{% block content %}
<div class="container text-start">
    <div class="row align-items-start">
      <div class="col">
        <div class="card mb-3">
            <div class="card-body bg-light">
                <div id="top" class="overflow-auto"
                style="max-height: 800px;">

                {% for twit in twit_list|dictsortreversed:"created" %}
                <div class="rounded-pill bg-info p-2">      
                    <div class="row">
                        <div class="col">
                            <a href="{% url "user_profile" twit.author.pk %}"><img src="{% get_avatar_url email=twit.author.email size=50 %}" class="rounded-circle" alt="user image"></a>     
                            <a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url "user_profile" twit.author.pk %}"><span class="fs-4 fw-bold">{{ twit.author }}</span></a>
                           
                                <span class=""> | {{ twit.created|timesince }} ago</span>
                                
                                {% if twit.updated != twit.created %}
                                <span class="fst-italic text-muted"> | Edited: {{ twit.updated|timesince }} ago</span>
                                {% endif %}
                                    
                            
                        </div>
                        <div class="col-3">      
                        {% if twit.author == user %}
                        <!--  px-2 py-2 -->
                        <div class="text-end position-relative top-50 start-50 translate-middle">
                            
                                <div class="dropstart">
                                    <button 
                                        id ="dropdownUser1"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false"
                                        type="button"
                                        class="btn rounded-pill btn-light"
                                        style="--bs-btn-padding-y: 0; --bs-btn-padding-x: -.50rem; --bs-btn-font-size: 1rem; --bs-btn-bg: #fffdfd69; --bs-btn-border-color: #00000000;"
                                    > 
                                            <i class="bi bi-three-dots"></i>
                                    </button>
                                    <!-- dropdown-menu-start -->
                                <ul 
                                    class="dropdown-menu p-0"     
                                    aria-labelledby="dropdownUser1"
                                    style="--bs-dropdown-bg: #fffdfd69; --bs-dropdown-border-color: #ffffffc5; --bs-dropdown-border-radius: 1rem;"
                                    >
                                    <!-- style="--bs-dropdown-bg: #00000000; --bs-dropdown-border-color: #00000000; --bs-dropdown-padding-y: 0rem;" -->
                                        <!-- <div class="d-grid gap-2 mx-auto"> -->
                                            <span class=""><a style="--bs-icon-link-transform: translate3d(0, -.15rem, 0);" class="badge rounded-pill btn-sm bg-primary m-1 nav-link px-2 link-light icon-link icon-link-hover" href="{% url "twit_edit" twit.pk %}"><i class="bi bi-pencil"></i> Edit</span></a>
                                            <span class="m-1"><a style="--bs-icon-link-transform: translate3d(0, -.15rem, 0);" class="badge rounded-pill btn-sm bg-danger m-1 nav-link px-2 link-light icon-link icon-link-hover" href="{% url "twit_delete" twit.pk %}"><i class="bi bi-trash"></i> Delete</span></a>

                                        <!-- </div> -->
                                        
                                </ul>
                                </div>
                            
                        </div>
                        
                           
                        {% endif %}
                        </div>
                    </div>
                   
                    
                    
                    
                </div>
                <br>
                <div>
                    
                    <p style="white-space: pre-line">{{ twit.body }}</p> {# This isn't supposed to be here, e.g., it's not what the book does. The style tag was for my own sanity #}
                    
                    {% if twit.image_url|length > 1 %}
                    <div class="w-75">
                        <p><a href="{% url 'twit_detail' twit.pk %}"><img src="{{ twit.image_url }}" class="img-fluid" alt=""></a></p>
                    </div>
                    
                    {% endif %}
                    <p>
                        {% with user_likes=twit.likes.all %}
                            <button
                            data-id="{{ twit.id }}"
                            data-action="{% if user in user_likes %}un{% endif %}like"
                            data-like-url="{{ twit.get_like_url }}"
                            class="like_button btn btn-{% if user not in user_likes %}outline-{% endif %}primary"
                            >
                                <i class="like_icon bi-hand-thumbs-up{% if user in user_likes %}-fill{% endif %}"></i>
                                <span class="like_count">{{ user_likes|length }}</span>
                                Likes
                            </button>
                        {% endwith %}
                    </p>
                    
                </div>
                <p><a 
                        href="/{{ twit.id }}" 
                        class="btn btn-success btn-sm ml-2 icon-link icon-link-hover" 
                        style="--bs-icon-link-transform: translate3d(0, -.15rem, 0); --bs-link-hover-color-rgb: 25, 135, 84;" 
                        data-bs-toggle="modal" data-bs-target="#modal{{ twit.id }}" 
                        id="modalOpen"
                    >
                        <i class="bi bi-chat mb-1"></i> Comment
                    </a>
                </p>
                {# <p><a href="{% url 'twit_detail' twit.pk %}" class="btn btn-success btn-sm ml-2"><i class="bi bi-chat"></i> Comment</a></p> #}
                {% if twit.comments.count >= 1 %}
                  
                  {{ twit.comments.count }} comments
                
                <div class="card w-75">
                    <div class="card-body">
                        {% for comment in twit.comments.all|slice:3 %}
                        <div class="row">
                            <div class="col-1">
                                <a href="{% url "user_profile" twit.author.pk %}"><img src="{% get_avatar_url email=twit.author.email size=50 %}" class="rounded-circle" alt="user image"></a>     
                            </div>
                            <div class="col ms-3 pt-2">
                                <p style="font-size: small;">
                                    <a class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url "user_profile" twit.author.pk %}"><span class="fs-6 fw-bold">{{ twit.author }}</span></a>
                                 
                                    <span class="text-muted"> {{ twit.created|timesince }} ago</span>
                                    {% if twit.updated != twit.created %}
                                <span class="fst-italic text-muted"> Edited: {{ twit.updated|timesince }} ago</span>
                                {% endif %}
                                </p>
                                
                                
                            </div>
                            
                            
                            <div class="col-1">      
                                {% if comment.author == user %}
                                <div class="text-end">
                                    
                                        <div class="dropstart">
                                            <button 
                                                id ="dropdownUser1"
                                                data-bs-toggle="dropdown"
                                                aria-expanded="false"
                                                type="button"
                                                class="btn rounded-pill btn-light"
                                                style="--bs-btn-padding-y: .15rem; --bs-btn-padding-x: 0rem; --bs-btn-font-size: 1rem;"
                                            > 
                                                    <i class="bi bi-three-dots"></i>
                                            </button>
                                            <!-- dropdown-menu-start -->
                                        <ul 
                                            class="dropdown-menu align-middle p-0"     
                                            aria-labelledby="dropdownUser1"
                                            style="--bs-dropdown-bg: #b0b0b09f; --bs-dropdown-border-color: #00c6f8; --bs-dropdown-border-radius: 1rem;"
                                            >
                                            <!-- style="--bs-dropdown-bg: #00000000; --bs-dropdown-border-color: #00000000; --bs-dropdown-padding-y: 0rem;" -->
                                                <!-- <div class="d-grid gap-2 mx-auto"> -->
                                                    <span class="m-1"><a style="--bs-icon-link-transform: translate3d(0, -.15rem, 0);" class="badge rounded-pill btn-sm bg-primary m-1 nav-link px-2 link-light icon-link icon-link-hover" href="{% url "comment_edit" twit.pk comment.pk %}"><i class="bi bi-pencil"></i> Edit</span></a>
                                                    <span class=""><a style="--bs-icon-link-transform: translate3d(0, -.15rem, 0);" class="badge rounded-pill btn-sm bg-danger m-1 nav-link px-2 link-light icon-link icon-link-hover" href="{% url "comment_delete" twit.pk comment.pk %}"><i class="bi bi-trash"></i> Delete</span></a>
        
                                                <!-- </div> -->
                                                
                                        </ul>
                                        </div>
                                    
                                </div>
                                
                                   
                                {% endif %}
                            </div>
                            
                        </div>
                        
                        
                            <p style="white-space: pre-line">{{ comment.body }}</p>
                    
                            <hr>
                        {% endfor %}
                    </div>
                    
                        
                            {% if twit.comments.count > 3 %}
                            <div class="card-footer">
                                <a href="{% url 'twit_detail' twit.pk %}"><div class="card-footer">{{ twit.comments.count|subtract:"3" }} more comments</div></a>
                            </div>
                            {% endif %}
                                <!-- Button trigger modal -->

 {% comment  %}
     <a href="/{{ twit.id }}"class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal{{ twit.id }}" id="modalOpen">modal open</a>
 {% endcomment %}
  {% for twit in twit_list|dictsortreversed:"created" %} 
  <!-- Modal -->
  <div class="modal fade" id="modal{{ twit.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Post a comment</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">
            
            <div class="text rounded-pill bg-info p-2">         
                <div class="row">
                    <div class="col-1">
                        <a href="{% url "user_profile" twit.author.pk %}"><img src="{% get_avatar_url email=twit.author.email size=50 %}" class="rounded-circle" alt="user image"></a>     
                    </div>
                    <div class="col ms-3 pt-2">
                        <p style="font-size: small;">
                            <a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url "user_profile" twit.author.pk %}"><span class="fs-6 fw-bold">{{ twit.author }}</span></a>
                         
                            <span class="text-muted"> {{ twit.created|timesince }} ago</span>
                            {% if twit.updated != twit.created %}
                        <span class="fst-italic text-muted"> Edited: {{ twit.updated|timesince }} ago</span>
                        {% endif %}
                        </p>
                        
                        
                    </div>
                    
                    
                       
                    
                    
                    <div class="col-1">      
                        {% if twit.author == user %}
                        <div class="text-end py-2">
                            
                                <div class="dropstart">
                                    <button 
                                        id ="dropdownUser1"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false"
                                        type="button"
                                        class="btn rounded-pill btn-light"
                                        style="--bs-btn-padding-y: 0; --bs-btn-padding-x: -.50rem; --bs-btn-font-size: 1rem; --bs-btn-bg: #fffdfd69; --bs-btn-border-color: #00000000;"
                                    > 
                                            <i class="bi bi-three-dots"></i>
                                    </button>
                                    <!-- dropdown-menu-start -->
                                <ul 
                                    class="dropdown-menu dropdown-menu-start align-middle p-0"     
                                    aria-labelledby="dropdownUser1"
                                    style="--bs-dropdown-bg: #b0b0b09f; --bs-dropdown-border-color: #00c6f8; --bs-dropdown-border-radius: 1rem;"
                                    >
                                    <!-- style="--bs-dropdown-bg: #00000000; --bs-dropdown-border-color: #00000000; --bs-dropdown-padding-y: 0rem;" -->
                                        <!-- <div class="d-grid gap-2 mx-auto"> -->
                                            <span class="m-1"><a style="--bs-icon-link-transform: translate3d(0, -.15rem, 0);" class="badge rounded-pill btn-sm bg-primary m-1 nav-link px-2 link-light icon-link icon-link-hover" href="{% url "twit_edit" twit.pk %}"><i class="bi bi-pencil"></i> Edit</span></a>
                                            <span class=""><a style="--bs-icon-link-transform: translate3d(0, -.15rem, 0);" class="badge rounded-pill btn-sm bg-danger m-1 nav-link px-2 link-light icon-link icon-link-hover" href="{% url "twit_delete" twit.pk %}"><i class="bi bi-trash"></i> Delete</span></a>

                                        <!-- </div> -->
                                        
                                </ul>
                                </div>
                            
                        </div>
                        
                           
                        {% endif %}
                        </div>
                </div>
               
                
                
                
            </div>
            <br>
            <div>
                
                <p style="white-space: pre-line">{{ twit.body }}</p> {# This isn't supposed to be here, e.g., it's not what the book does. The style tag was for my own sanity #}
                
                {% if twit.image_url|length > 1 %}
                <div>
                    <p><a href="{% url 'twit_detail' twit.pk %}"><img src="{{ twit.image_url }}" class="img-fluid" alt=""></a></p>
                </div>
                
                {% endif %}
                <p>
                    {% with user_likes=twit.likes.all %}
                        <button
                        data-id="{{ twit.id }}"
                        data-action="{% if user in user_likes %}un{% endif %}like"
                        data-like-url="{{ twit.get_like_url }}"
                        class="like_button btn btn-{% if user not in user_likes %}outline-{% endif %}primary"
                        >
                            <i class="like_icon bi-hand-thumbs-up{% if user in user_likes %}-fill{% endif %}"></i>
                            <span class="like_count">{{ user_likes|length }}</span>
                            Likes
                        </button>
                    {% endwith %}
                </p>
                <hr>
                <form action="{% url 'twit_detail' twit.pk %}" method="post">
                    
                    {% csrf_token %}
                    {{ form.body|as_crispy_field }}
                    
                    <input type="hidden" name="twit_id" value="{{ twit.id }}">
                    <span class="testspan" id="rchars">140</span> Character(s) Remaining</span>
                    
                 
                
            </div>
            
        </div>
        
        <div class="modal-footer">
            <button type="submit" class="btn btn-success ml-2">Comment</button>
            <button type="button" class="btn btn-danger ml-2" id="btn-cancel-comment" data-bs-dismiss="modal">Cancel</button>
        </div>
    </form>
      </div>
    </div>
  </div>
  {% endfor %}

                            {% comment block  %}
                                
                            
                            <button class="btn btn-primary dropdown-toggle border border-2 border-subtle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                Add a comment
                              </button>
                            </p>
                            <div class="collapse" id="collapseExample">
                              
                                <form action="" method="post">
                                    <p>This twit id: {{ twit.pk }}</p>
                                    {% csrf_token %}
                                    {{ form.body|as_crispy_field }}
                                    
                                    <input type="hidden" name="twit_id" value="{{ twit.id }}">
                                    <span id="rchars">140</span> Character(s) Remaining</span>
                                    <p class="pt-2">
                                        <button class="btn btn-success ml-2" type="submit">Comment</button>
                                        <button 
                                            class="btn btn-danger ml-2" 
                                            type="button" 
                                            data-bs-toggle="collapse" 
                                            data-bs-target="#collapseExample" 
                                            aria-expanded="false" 
                                            aria-controls="collapseExample"
                                        >Cancel</button>
                                    </p>
                                 </form>
                              
                            </div>
                            {% endcomment %}
                        
                    
                    
                

                </div>
                
                    {% else %}
                    <div class="card-footer">
                        <p class="fst-italic">No comments yet</p>
                    </div>
                    
                    
                    {% endif %}
                <hr>
            
                {% endfor %}
            </div>
            </div>
        </div>
      </div>
      {% url 'home' as home %}
      {% url 'testing' as testing %}
      {% url 'twit_new' as twit_new %}
      
      
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <!-- <button class="btn btn-secondary border-2 border-info ml-2"><i class="bi bi-house"> </i>Home</button> -->
                    <div class="d-grid gap-2 mx-auto">
                                
                            
                        <button type="button" class="{% if request.get_full_path == home %}btn btn-info ml-2{% else %}btn btn-outline-info ml-2{% endif %}"><a href="{{ home }}" style="--bs-icon-link-transform: translate3d(-.50rem, 0, 0);" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover icon-link icon-link-hover text-decoration-none"><i class="bi bi-house mb-2"> </i>Home</button></a>
                        <button class="{% if request.get_full_path == twit_new %}btn btn-info ml-2{% else %}btn btn-outline-info ml-2{% endif %}"><a href="{{ twit_new }}" style="--bs-icon-link-transform: translate3d(-.50rem, 0, 0);" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover icon-link icon-link-hover text-decoration-none"><i class="bi bi-chat-quote mb-2"> </i> New Twit</button></a>
                        <button class="{% if request.get_full_path == testing %}btn btn-info ml-2{% else %}btn btn-outline-info ml-2{% endif %}"><a href="{{ testing }}" style="--bs-icon-link-transform: translate3d(-.50rem, 0, 0);" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover icon-link icon-link-hover text-decoration-none"><i class="bi bi-textarea-t mb-2"></i>Testing Page</button></a>                         
                        <button class="{% if request.get_full_path == user_profile %}btn btn-info ml-2{% else %}btn btn-outline-info ml-2{% endif %}"><a href="{{ user_profile }}" style="--bs-icon-link-transform: translate3d(-.50rem, 0, 0);" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover icon-link icon-link-hover text-decoration-none" ><i class="bi bi-person mb-2"></i> Your Profile</button></a>
                        <button id="btn-back-to-top" class="btn btn-outline-info ml-2"><a href="#" style="--bs-icon-link-transform: translate3d(-.50rem, 0, 0);" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover icon-link icon-link-hover text-decoration-none"><i class="bi bi-arrow-up-circle mb-2"></i> <span class="">Back to top</span></button></a>
                        
                            
                            <button 
                                id ="dropdownUser1"
                                data-bs-toggle="dropdown"
                                aria-expanded="false" 
                                class="btn btn-outline-info "
                            ><span class="nav-link px-2 link-dark icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(.50rem, 0, 0);">{{ user.username }} <i class="bi bi-caret-down-square mb-1"></i></span></button>
                            
                            <ul class="dropdown-menu border border-black" aria-labelledby="dropdownUser1">
                                {% if user.is_staff %}
                                <li class="border-bottom border-black"><a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a></li>
                                {% endif %}
                                <li class="border-bottom border-black"><a class="dropdown-item" href="{% url 'user_profile' user.pk %}">Your Profile</a></li>
                                <li class="border-bottom border-black"><a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a></li>
                                <li class=""><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>                                
                            </ul>
                        
                            
                        
                      
                    </div>
                </div>
            </div>
        </div>       
     </div>
      
      
    </div>
  </div>
{% endblock content %}