{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load helper_tags %}
{% load maths %}
{% block title %}
    Testing Page
{% endblock title %}

{% block content %}
<div class="container text-start">
    <div class="row align-items-start sticky-top">
      <div class="col">
        <div class="card mb-3">
            <div class="card-body">
                <div id="top" class="overflow-auto bg-light"
                style="max-height: 800px;">

                {% for twit in twit_list|dictsortreversed:"created" %}
                <div class="text rounded-pill bg-info p-2">         
                    <div class="row">
                        <div class="col">
                            <a href="{% url "user_profile" twit.author.pk %}"><img src="{% get_avatar_url email=twit.author.email size=50 %}" class="rounded-circle" alt="user image"></a>     
                            <a class="text-muted" href="{% url "user_profile" twit.author.pk %}"><span class="fs-4 fw-bold">{{ twit.author }}</span></a>
                            <span class="text-muted"> | {{ twit.created|timesince }} ago</span>
                        </div>
                        <div class="col-2">      
                        {% if twit.author == user %}
                        <div class="mt-2">
                            <a class="align-middle" href="{% url "twit_edit" twit.pk %}"><span class="badge rounded-pill bg-primary"><i class="bi bi-pencil"></i> Edit</span></a>
                            <a class="align-middle" href="{% url "twit_delete" twit.pk %}"><span class="badge rounded-pill bg-danger"><i class="bi bi-trash"></i> Delete</span></a>
                        </div>
                           
                        {% endif %}
                        </div>
                    </div>
                   
                    
                    
                    
                </div>
                <br>
                <div>
                    
                    <p style="white-space: pre-line">{{ twit.body }}</p> {# This isn't supposed to be here, e.g., it's not what the book does. The style tag was for my own sanity #}
                    
                    {% if twit.image_url|length > 1 %}
                    <div>
                        <p><a href="{% url 'twit_detail' twit.pk %}"><img src="{{ twit.image_url }}" class="img-fluid" alt=""></a></p>
                    </div>
                    
                    {% endif %}
                    <p>
                        {% with user_likes=twit.likes.all %}
                            <button
                            data-id="{{ twit.id }}"
                            data-action="{% if user in user_likes %}un{% endif %}like"
                            data-like-url="{{ twit.get_like_url }}"
                            class="like_button btn btn-{% if user not in user_likes %}outline-{% endif %}primary"
                            >
                                <i class="like_icon bi-hand-thumbs-up{% if user in user_likes %}-fill{% endif %}"></i>
                                <span class="like_count">{{ user_likes|length }}</span>
                                Likes
                            </button>
                        {% endwith %}
                    </p>
                    
                </div>
                
                
                {% if twit.comments.count >= 1 %}
                  <p><a href="{% url 'twit_detail' twit.pk %}" class="btn btn-success btn-sm ml-2"><i class="bi bi-chat"></i> Comment</a></p>
                  {{ twit.comments.count }} comments
                
                <div class="card w-75">
                    <div class="card-body">
                        {% for comment in twit.comments.all|slice:3 %}
                        <div class="row">
                            <div class="col">
                                <a href="{% url "user_profile" comment.author.pk %}"><img src="{% get_avatar_url email=comment.author.email size=25 %}" class="rounded-circle" alt="user image"></a>
                                 <span class="fw-semibold"><a href="{% url "user_profile" comment.author.pk %}">{{ comment.author }}</a> &middot; </span>{{ comment.created|timesince }}
                            </div>

                            <div class="col-3">
                                {% if comment.author == user %}
                                    <div class="ms-3">
                                        <a href="{% url "comment_edit" twit.pk comment.pk %}"><span class="badge rounded-pill bg-primary"><i class="bi bi-pencil"></i> Edit</span></a>
                                        <a href="{% url "comment_delete" twit.pk comment.pk %}"><span class="badge rounded-pill bg-danger"><i class="bi bi-trash"></i> Delete</span></a>
                                    </div>
                                 {% endif %}
                            </div>
                        </div>
                        
                        
                            <p style="white-space: pre-line">{{ comment.body }}</p>
                    
                            <hr>
                        {% endfor %}
                    </div>
                    
                        <div class="card-footer">
                            <button class="btn btn-primary dropdown-toggle border border-2 border-subtle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                Add a comment
                              </button>
                            </p>
                            <div class="collapse" id="collapseExample">
                              
                                <form action="" method="post">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <span id="rchars">140</span> Character(s) Remaining</span>
                                    <p class="pt-2">
                                        <button class="btn btn-success ml-2" type="submit">Comment</button>
                                        <button 
                                            class="btn btn-danger ml-2" 
                                            type="button" 
                                            data-bs-toggle="collapse" 
                                            data-bs-target="#collapseExample" 
                                            aria-expanded="false" 
                                            aria-controls="collapseExample"
                                        >Cancel</button>
                                    </p>
                                 </form>
                              
                            </div>
                        </div>
                    
                    
                

                </div>
                
            

                    
                    {% endif %}
                <hr>
            
                {% endfor %}
            </div>
            </div>
        </div>
      </div>
      {% url 'home' as home %}
      {% url 'testing' as testing %}
      {% url 'twit_new' as twit_new %}
      
      
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <!-- <button class="btn btn-secondary border-2 border-info ml-2"><i class="bi bi-house"> </i>Home</button> -->
                    <ul class="nav flex-column">
                        <li class="nav-item {% if request.path == home %}active{% endif %}"><a href="{{ home }}" class="nav-link px-2 ">Home</a></li>
                        <li class="nav-item {% if request.path == twit_new %}active{% endif %}"><a href="{{ twit_new }}" class="nav-link px-2 ">New Twit</a></li>
                        <li class="nav-item {% if request.path == testing %}active{% endif %}"><a href="{{ testing }}" class="nav-link px-2">Testing Page</a></li>                         
                        <li><a class="nav-link px-2 link-dark" href="{% url 'user_profile' user.pk %}">Your Profile</a></li>
                        <li><a href="#" id="btn-back-to-top" class="nav-link px-2 link-dark">Back to top</a></li>
                        <li>
                            <a 
                                href="#" 
                                class="nav-link px-2 link-dark"
                                id ="dropdownUser1"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                            >
                            <button class="btn btn-secondary border-2 border-info ml-2">{{ user.username }} <i class="bi bi-caret-down-square"></i></button>
                            </a>
                            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                                {% if user.is_staff %}
                                <li><a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a></li>
                                {% endif %}
                                <li><a class="dropdown-item" href="{% url 'user_profile' user.pk %}">Your Profile</a></li>
                                <li><a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a></li>
                                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>                                
                            </ul>
                        </li>
                            
                        
                      </ul>
                </div>
            </div>
        </div>       
     </div>
      
      
    </div>
  </div>
{% endblock content %}