{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    Twit - Create
{% endblock title %}
{% block button_title %}
Tweeter
{% endblock button_title %}
{% block content %}
    <h1>New Twit</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.body|as_crispy_field }}
        <span id="rchars">140</span> Character(s) Remaining</span>
        {{ form.image_url|as_crispy_field }}
        <button class="btn btn-success ml-2" type="submit">Save</button>
    </form>
</body>


{% endblock content %}